*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.immagine{
   height: 50vh;
}
.container #big #cont-2 img{
 display: none;
}
.container #big #cont-2 img.active{
    display: block;
    object-fit: cover;
   }
   
#cont-2{
    object-fit: cover;
    width: 600px;
}